{% extends "management/base.html" %}
{% load staticfiles %}
{% block title %}用户信息修改{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 well">
                <form method="POST" role="form" class="form-horizontal">
                    {% csrf_token %}
                    <h1 class="form-signin-heading text-center">重置密码</h1>
                    <div class="form-group">
                        <label for="id_new" class="col-md-3 control-label">新密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" value="" required name="new_password"
                                   id="id_new">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_new_re" class="col-md-3 control-label">重复密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" required name="repeat_password" id="id_new_re">
                        </div>
                    </div>

                    {#                    <div class="form-group">#}
                    {#                        <label for="id_new_re" class="col-md-3 control-label"></label>#}
                    {#                        <div class="col-md-9">#}
                    {#                            <input type="text" class="form-control" value="" required name="auditing" >#}
                    {#                        </div>#}
                    {#                    </div>#}

                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn btn-primary btn-block" type="submit">提交</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>


    </div>








{% endblock %}