body {
    padding-top: 50px;
    background-color: #eeeeee;
}

#header-base {
    background-color: #000;
    color: #fff;
    text-align: center;
}

#base_name {
    color: #fff;
    font-weight: bold;
}
